#related_footer {
    text-align: left;
}
.footerLogo{
    width: 17%;
    height:auto;
    text-align:left;
}

#footer_item_sm{
padding: 0px;
text-align: left;
}

.footer_item_content{
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}

.accordion-container>h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f500;
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: left;
}

.set>a i {
    float: right;
    margin-top: 2px;
}

.set>a.active {
    text-align: left;
    background-color: #f6f7f8;
    color: #545454;
}
.content {
    background-color: #fff0;
    border-bottom: 1px solid #ddd;
    display: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
}


@media only screen and (max-width: 1100px) {
    #credits_footer{
        margin-top: 5em;

    }
    .header__social {
        align-self: center;
        float: center;
        list-style: none;
        margin: 4rem 0 0 0;
        padding: 0 0 4.4rem 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        margin-bottom: 0px;
    }

    .footerLogoContainer{
text-align: center;
    }
    #lg-FooterMenu
    {
    display: none;
    }

    .footer_text {
        margin-top: 0;
        font-size: 17px;
    }

    #related__item {

        text-align: left;
        float: left;
        width: 60%;

    }
}



@media only screen and (min-width: 1024px) {

    #related__item {
        text-align: left;
        float: left;
        width: 23.33333%;
}}



@media only screen and (min-width: 600px) {
    .header__social {
        float: right;
        list-style: none;
        margin: 4rem 0 0 0;
        padding: 0 0 4.4rem 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .footerLogoContainer{
        text-align: left;
            }
    #sm-FooterMenu{
        display: none;
            }
    /* #related__item {
        text-align: left;
        float: left;
        width: 23.33333%;

    } */
}
